// ----- /styles/scss/main.scss -----
@import './partials/variables';
@import './partials/mixins';
@import './partials/colorPalette';
@import './components/Header.module';
@import './components/Navbar.module';

@include theme($light-theme); // Applique les variables CSS globalement

:root {
  --background-color: #f4f4f4; // Fallback
  --text-color: #000;         // Fallback
  --navBar-background-color: #bae6f8; // Fallback
  --primary-color: #4CAF50;   // Fallback
  --secondary-color: #FF5722; // Fallback
}

body {
  font-family: $font-primary;
  background-color: var(--background-color); // Utilisation correcte
  color: var(--text-color);
  margin: 0;
  padding: 0;

  main {
    padding: 20px;
    display: flex;
  }

  aside {
    display: block; // Assurez-vous que l'aside est visible
  }
}

