body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Remplace la police par $font-primary */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: red !important; /* Testez avec une couleur visible */
}

.navbar {
  background-color: green !important; /* Testez avec une couleur visible */
}
